AMI_CONNECT__AWS_PROFILE=my-aws-profile
AMI_CONNECT__AWS_REGION=us-west-2
UTILITY_BILLING_CONNECTION_URL_ENV_VAR_NAME=utility-billing-app-postgres-connection-url
AMI_CONNECT_NEPTUNE_REPO_URL=git@github.com:California-Data-Collaborative/ami-connect-neptune-adapter.git