certifi==2025.1.31
charset-normalizer==3.4.1
idna==3.10
requests==2.32.4
urllib3==2.6.3
black==26.1.0
PyYAML==6.0.2
boto3==1.41.0
paramiko==3.5.1
oracledb==3.1.1
sshtunnel==0.4.0
typer==0.17.4
snowflake-sqlalchemy==1.7.4
# Installs with constraints for Python 3.12
apache-airflow==2.11.0 --constraint https://raw.githubusercontent.com/apache/airflow/constraints-2.11.0/constraints-3.12.txt
apache-airflow-providers-snowflake==6.4.0
apache-airflow-providers-amazon==9.22.0

# Running production Airflow
psycopg2-binary==2.9.10
